<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
      *ngFor="let link of navigationLink"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
This shit looks ugly
-->

<mat-tab-group (selectedTabChange)="tabSelected($event)">
  <mat-tab
      *ngFor="let link of navigationLink">
    <ng-template mat-tab-label>
      <span routerLink="/{{link.path}}" routerLinkActive="active">{{link.label}}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
