<h1 class="display-1">{{pageTitle}}</h1>
<kendo-scheduler
    [editService]="editEvents"
    startTime="07:00"
    [kendoSchedulerBinding]="events"
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [selectedDate]="selectedDate"
    [(selectedViewIndex)]="selectViewIndex"
    style="min-height: 600px;">

  <kendo-scheduler-day-view>
    <ng-template kendoSchedulerTimeSlotTemplate let-date="date">
      <div class="text-center">
        <strong>{{ date | date : "HH:mm" }}</strong><br>
        <mat-icon class="text-danger">favorite</mat-icon>
      </div>
    </ng-template>
  </kendo-scheduler-day-view>

  <kendo-scheduler-week-view>
    <ng-template kendoSchedulerTimeSlotTemplate let-date="date">
      <div class="text-center">
        <strong>{{ date | date : "HH:mm" }}</strong><br>
        <mat-icon class="text-danger">favorite</mat-icon>
      </div>
    </ng-template>
  </kendo-scheduler-week-view>

  <kendo-scheduler-month-view>
    <ng-template kendoSchedulerTimeSlotTemplate let-date="date">
      <div class="text-center">
        <strong>{{ date | date : "HH:mm" }}</strong><br>
        <mat-icon class="text-danger">favorite</mat-icon>
      </div>
    </ng-template>
  </kendo-scheduler-month-view>

  <kendo-scheduler-timeline-view>
    <ng-template kendoSchedulerTimeSlotTemplate let-date="date">
      <div class="text-center">
        <strong>{{ date | date : "HH:mm" }}</strong><br>
        <mat-icon class="text-danger">favorite</mat-icon>
      </div>
    </ng-template>
  </kendo-scheduler-timeline-view>

  <kendo-scheduler-agenda-view>
    <ng-template kendoSchedulerTimeSlotTemplate let-date="date">
      <div class="text-center">
        <strong>{{ date | date : "HH:mm" }}</strong><br>
        <mat-icon class="text-danger">favorite</mat-icon>
      </div>
    </ng-template>
  </kendo-scheduler-agenda-view>
</kendo-scheduler>
