<kendo-scheduler
    [editService]="editEvents"
    startTime="07:00"
    [kendoSchedulerBinding]="events"
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [selectedDate]="selectedDate"
    [(selectedViewIndex)]="selectViewIndex"
    style="min-height: 600px;">

  <ng-template class="alert alert-danger"
      kendoSchedulerEventTemplate let-event="event">
    <div>
      <span style="alert-info">{{ event.title }}</span>
      <div>{{event.userId}}</div>
    </div>
  </ng-template>

  <kendo-scheduler-day-view>
  </kendo-scheduler-day-view>

  <kendo-scheduler-week-view>
  </kendo-scheduler-week-view>

  <kendo-scheduler-month-view>
  </kendo-scheduler-month-view>

  <kendo-scheduler-timeline-view>
  </kendo-scheduler-timeline-view>

  <kendo-scheduler-agenda-view>
  </kendo-scheduler-agenda-view>
</kendo-scheduler>
